@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/add-r.css');
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');
@import url('https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css');

:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: roboto;
}



/* Pen Title */
.pen-title {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
}

.pen-title h1 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
}

.pen-title span {
  font-size: 12px;
}

.pen-title span .fa {
  color: #33b5e5;
}

.pen-title span a {
  color: #33b5e5;
  font-weight: 600;
  text-decoration: none;
}

/* Form Module */
.form-module {
  position: relative;
  background: #ffffff;
  max-width: 320px;
  width: 100%;
  border-top: 5px solid #33b5e5;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.form-module .toggle {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background: #33b5e5;
  width: 30px;
  height: 30px;
  margin: -5px 0 0;
  color: #1c1c1c;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
}

.form-module .toggle .tooltip {
  position: absolute;
  top: 5px;
  right: -65px;
  display: block;
  background: rgba(0, 0, 0, 0.006);
  width: auto;
  padding: 5px;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
}

.form-module .toggle .tooltip:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -5px;
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(0, 0, 0, 0.6);
}

.form-module .form {
  display: none;
  padding: 40px;
}

.form-module .form:nth-child(2) {
  display: block;
}

.form-module h2 {
  margin: 0 0 20px;
  color: #33b5e5;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}

.form-module input, select {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  transition: 0.3s ease;
}

.form-module input:focus {
  border: 1px solid #33b5e5;
  color: #333333;
}

.form-module button {
  cursor: pointer;
  background: #33b5e5;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
  transition: 0.3s ease;
}

.form-module button:hover {
  background: #178ab4;
}

.form-module .cta {
  background: #f2f2f2;
  width: 100%;
  padding: 15px 40px;
  box-sizing: border-box;
  color: #666666;
  font-size: 12px;
  text-align: center;
}

.form-module .cta a {
  color: #333333;
  text-decoration: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Cor cinza com transparência */
  z-index: 1;
  /* Valor alto para sobrepor a página */
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.modal-board {
  width: 600px;
  animation: fadeIn .5s ease-in-out 0s forwards;
}

.modal-card {
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12);
  background: #fff;
  color: rgba(0, 0, 0, .87);
}

.modal-header {
  display: flex;
  align-items: center;
  padding: 20px 15px;
  background-color: #244080;
  margin-bottom: 20px;
  color: #fff;
  border-radius: 10px 10px 0 0;
}

.modal-body {
  font-size: 14px;
  padding: 20px 15px;
  color: #67757c;
  font-weight: 400;
}

.input-filters {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;

}

.input-filters input {
  border-radius: 10px;
  padding: 6px 10px 10px;
  outline: none;
  border: 2px solid #d3cccc;
  font-size: 14px;
  /*color: #67757c;*/
  font-weight: 400;
}

.modal-card-footer {
  display: flex;
  margin: 0;
  padding: 5px 0 20px;
  padding-right: 1.5rem;
  justify-content: flex-end;
}

.btn_control {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  cursor: pointer;
  border: none;
  text-decoration: none;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
}

.warn {
  background-color: #da1c24;
  color: #fff;
  margin-right: 0.5rem;
  
}

.success {
  background-color: #30bd2c;
  color: #fff;
  margin-right: 0.5rem;
  
}
.d-none{
  display: none;
}

.btn_control i {
  margin-right: 5px;
  font-size: 17px;
  vertical-align: middle;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #6E9DFA;
}

a:hover {
  color: #fff;
  background-color: rgba(28, 116, 233, .1);
}

a.active {
  color: #fff;
  background-color: rgba(28, 116, 233, .1);
}

/*header*/
header {
  background-color: #244080;
  transition: background-color .4s;
  position: relative;
  padding: 0 2rem;
  box-shadow: 1px 0 10px rgba(0, 0, 0, .5);
}

nav {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  color: #fff;
  font: 500 20px/32px Roboto;
}

nav .links {
  display: flex;
  gap: 2rem;
}

.toggle_btn svg {
  fill: #6E9DFA;
}

nav .toggle_btn {
  width: 30px;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: #33b5e5;
  color: #d9d9d9;
  padding: 0.5rem 1rem;
  border: none;
  outline: auto;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn:hover {
  scale: 1.05;
  color: #fff;
  box-sizing: border-box;
}

.action_btn:active {
  scale: .95;
}

/* dropdown menu*/
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background-color: rgb(99 141 224 / 23%);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: .7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;

}

/*hero*/
section#hero {
  text-align: center;
  margin: 0 1rem;
  /*background-color: #fafafa;*/
  color: rgba(0, 0, 0, .87);
}

/*card main*/
section .card {
  /*height: 300px;*/
  margin: 15px;
  border-radius: 15px;
  color: #1c1c1c;
  /*background-color: white;*/

  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2),
    0 1px 1px 0 rgba(0, 0, 0, .14),
    0 1px 3px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 5px 20px rgba(0, 0, 0, .19);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 280ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
  transition-property: box-shadow;
}

/*Header card*/
.header_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 64px;
  padding: 0 24px;
  cursor: pointer;

  font-size: 15px;
  font-weight: 400;
}

.btn_insert {
  padding: 0 15px;
  min-width: 44px;
  font-size: 18px;
  line-height: 35px;
  border-radius: 8px;
  font-weight: 600;
  background: #2bc48a;
  color: #fff;
  border: none;
}

.btn_icon {
  font-family: 'remixicon';
  background: transparent;
  padding: 0;
  min-width: 0;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 19px;
  margin-right: 0;
}

.btn_delete {
  cursor: pointer;
  color: #da1c24;
}

.btn_delete:active {
  background: #da1c241a;
}

.btn_edit {
  cursor: pointer;
  color: #2196f3;
}

.btn_edit:active {
  background: #2196f31a;
}

.header_card .title_card {
  display: flex;
  flex: 1;
}

.arrow {
  margin: 0 0 0 6px;
}

.arrow::after {
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: "";
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  vertical-align: middle;
}

/*body card*/
.row {
  display: flex;
  align-items: center;
  line-break: auto;
  word-break: break-word;
  min-height: 40px;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  border-bottom-color: rgba(0, 0, 0, .12);
}

.body_card {
  font-size: 13px;
  line-height: 23px;
}

.table_column_layout:first-of-type {
  padding-left: 24px;
  flex-grow: 0.3;
}

.table_column_layout:last-of-type {
  padding-right: 24px;
}

.table_header_card {
  min-height: 40px;
  border-radius: 5px;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .08);
  /*position: sticky;*/
  font-size: 12px;
  font-weight: 600;
  align-items: center;
}

.table_footer_card {
  font-size: 14px;
}

.table_column_layout {
  display: flex;
  flex: 1;
  /*border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;*/
  align-items: center;
  box-sizing: border-box;
}

.table_cell {
  display: flex;
  cursor: pointer;
  align-items: center;
  letter-spacing: normal;
}

/*responsive design*/

@media(max-width: 720px) {

  section#hero {
    margin: 0 0;
  }

  nav .links,
  nav .action_btn,
  .arrow {
    display: none;
  }

  nav .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
    width: 100%;
    left: 0;
    right: 0;
  }
}

@media(max-width: 576px) {
  section .card {
    margin: 0;
  }

  .table_column_layout:last-of-type {
    padding-right: 0;
    flex-grow: 2;
  }

  .dropdown_menu {
    /*left: 2rem;*/
    width: unset;
  }
}