<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EasyControl</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <header>
    <nav class="container-hdr hdr-layout">
      <div class="logo"><a href="#">Easy Control</a></div>
      <ul class="links">
        <li><a class="<%= page == 'access'?'active':' '%>" href="access">Access</a></li>
        <li><a class="<%= page == 'company'?'active':' '%>" href="company">Company</a></li>
        <li><a class="<%= page == 'client'?'active':' '%>" href="client">Client</a></li>
        <li><a class="<%= page == 'user'?'active':' '%>" href="user">Users</a></li>
      </ul>
      <a href="#" class="action_btn">Profile</a>
      <div class="toggle_btn">
        <svg focusable="false" viewBox="0 0 24 24">
          <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
        </svg>
      </div>
    </nav>
    <div class="dropdown_menu">
      <li><a href="access">Access</a></li>
      <li><a href="company">Company</a></li>
      <li><a href="client">Client</a></li>
      <li><a href="user">Users</a></li>
      <li><a href="#" class="action_btn">Profile</a></li>
    </div>
  </header>