<%- include('includes/head')%>

  <main>
    <div class="modal-overlay d-none">
      <div class="modal-content">
        <div class="modal-board">
          <div class="modal-card">
            <div class="modal-header">
              <div class="modal-title">
                <h4>Novo Cadastro de Acesso</h4>
              </div>
            </div>
            <div class="modal-body">
              <div class="input-filters">
                <label for="idClient">Cliente</label>
                <select class="modal-clients-list" name="idClient" id="idClient">
                    <option value="">
                      
                    </option>
                </select>
              </div>
              <div class="input-filters">
                <label for="type">Tipo</label>
                <input type="email" name="type">
              </div>
              <div class="input-filters">
                <label for="desc">Descrição</label>
                <input type="text" name="desc" id="">
              </div>
              <div class="input-filters">
                <label for="access">Cod. Acesso</label>
                <input type="text" name="access" id="">
              </div>
            </div>
            <div class="modal-footer">
              <div class="modal-card-footer">
                <button class="btn_control warn">
                  <span><i _ngcontent-gaw-c86="" class="ri-close-line"></i>Cancelar</span>
                </button>
                <button class="btn_control success">
                  <span><i _ngcontent-gaw-c86="" class="ri-save-2-line"></i>Salvar</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section id="hero">
      <div class="board_card">
        <div class="card">
          <div class="header_card">
            <span class="title_card">Filter</span>
            <button class="btn_insert">Insert</button>
            <span class="arrow"></span>
          </div>
          <div class="body_card">
            <div class="table_card">
              <div class="table_header_card row">
                <div class="table_column_layout">
                  <div class="table_cell">
                    <div class="table_container">
                      ID
                    </div>
                    <div class="arrow"></div>
                  </div>
                </div>
                <div class="table_column_layout">
                  <div class="table_cell">
                    <div class="table_container">
                      TYPE
                    </div>
                    <div class="arrow"></div>
                  </div>
                </div>
                <div class="table_column_layout">
                  <div class="table_cell">
                    <div class="table_container">
                      CLIENT
                    </div>
                    <div class="arrow"></div>
                  </div>
                </div>
                <div class="table_column_layout">
                  <div class="table_cell">
                    <div class="table_container">
                      DESC
                    </div>
                    <div class="arrow"></div>
                  </div>
                </div>
                <div class="table_column_layout">
                  <div class="table_cell">
                    <div class="table_container">
                      ACCESS
                    </div>
                    <div class="arrow"></div>
                  </div>
                </div>
                <div class="table_column_layout">
                  <div class="table_cell">
                    <div class="table_container">
                      ACTIONS
                    </div>
                    <div class="arrow"></div>
                  </div>
                </div>
              </div>
              <div class="grid">
              </div>
              <div class="table_footer_card row">
                <div class="table_column_layout">
                  <div class="table_cell">
                    <div class="table_container">
                      <div class="grid_count">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="paginator_card">
              <div class="paginator_container">
                <div class="paginator_page_size">
                  <div class="paginator_page_size_lable">
                    Items for page: all
                  </div>
                  <div class="paginator_page_size_select">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script>
    /*catch access in backend*/
    let access = {};
    $.ajax({
      'url': '/access/getAccess',
      'type': 'GET',
      'success': function (data) {
        access = data.access;
        createGrid(access);
      },
      'error': function (request, error) {
        console.log(JSON.stringify(request));
      }
    });

    let clients= {};
    $.ajax({
      'url': '/client/getClient',
      'type': 'GET',
      'success': function (data) {
        clients = data.clients;
        createOption(clients, 'modal-clients-list');
      },
      'error': function (request, error) {
        console.log(JSON.stringify(request));
      }
    });

    function createOption(data, selectPlace){
      let place = document.querySelector('.' + selectPlace);
      
      data.forEach(property =>{
        let option = document.createElement('option');
        option.value = property.id;
        option.innerHTML = property.name;

        place.appendChild(option);
      })
    }

    function createGrid(data) {
      let gridCount = document.querySelector('.grid_count');
      gridCount.innerHTML = 'Total: ' + data.length;

      let parentElement = document.querySelector('.grid');

      data.forEach(property => {
        let row = document.createElement('div');
        row.classList.add('row');

        let btns = document.createElement('div');

        let btn_delete = document.createElement('button');
        btn_delete.classList.add('btn_delete', 'btn_icon');
        btn_delete.id = property.id;
        btn_delete.addEventListener('click', fDelete);
        btn_delete.innerHTML = '<span><i class="ri-delete-bin-7-line"></i></span>';

        let btn_edit = document.createElement('button');
        btn_edit.classList.add('btn_edit', 'btn_icon');
        btn_edit.id = property.id
        btn_edit.innerHTML = '<span><i class="ri-pencil-line fa-lg"></i></span>';


        btns.appendChild(btn_delete);
        btns.appendChild(btn_edit);

        let caseType = 1;

        if (property.type === 1) {
          caseType = 'ANYDESK';
        } else {
          caseType = 'TEAMVIWER';
        }

        let id = createLayoutGrid(property.id);
        let type = createLayoutGrid(caseType);
        let client = createLayoutGrid(property.client.name);
        let desc = createLayoutGrid(property.desc);
        let access = createLayoutGrid(property.access);
        let actions = createLayoutGrid();
        actions.querySelector('.table_container').appendChild(btns);



        row.appendChild(id);
        row.appendChild(type);
        row.appendChild(client);
        row.appendChild(desc);
        row.appendChild(access);
        row.appendChild(actions);

        parentElement.appendChild(row);
      });
    }

    function createLayoutGrid(property) {
      let layout = document.createElement('div');
      layout.classList.add('table_column_layout');

      let tableCell = document.createElement('div');
      tableCell.classList.add('table_cell');

      let tableContainer = document.createElement('div');
      tableContainer.classList.add('table_container');

      //let element = document.createElement('div');
      tableContainer.textContent = property;

      //tableContainer.appendChild(element);
      tableCell.appendChild(tableContainer);
      layout.appendChild(tableCell);
      return layout;
    }

    function fDelete(e) {
      let btn = e.currentTarget;
      $.ajax({
        'url': '/access/deleteAccessById',
        'type': 'DELETE',
        'data': {id: btn.id},
        'success': function (data) {
          btn.parentElement.
              parentElement.
              parentElement.
              parentElement.
              parentElement.remove();
        },
        'error': function (request, error) {
          console.log(JSON.stringify(request));
        }
      });
    }

    const toggleBtn = document.querySelector('.toggle_btn');
    const toggleBtnIcon = document.querySelector('.toggle_btn svg');
    const dropdpwnMenu = document.querySelector('.dropdown_menu');

    toggleBtn.onclick = function () {
      dropdpwnMenu.classList.toggle('open');
      //document.querySelectorAll('.arrow').forEach( arrow => arrow.style.display = "none");
      //const isOpen = dropdpwnMenu.classList.contains('open');
      /*toggleBtnIcon.classList = isOpen ? ''*/
    }
  </script>

  <%- include('includes/footer')%>