<%- include('includes/head')%>

  <section class="container">
    <div class="pen-title">
      <h1>EasyControl - Login</h1><span>Create <i class='fa fa-paint-brush'></i> + <i class='fa fa-code'></i> by <a
          href='https://github.com/Rael-tecnologia/easycontrol'>Wilton C. feat Rafael R. </a></span>
    </div>
    <!-- Form Module-->
    <div class="module form-module">
      <div class="toggle">+
        <i class="fa fa-times fa-pencil"></i>
        <div class="tooltip">Click Me </div>
      </div>
      <div class="form">
        <h2>Login to your account</h2>
        <form>
          <input name='name' type="text" placeholder="Username" />
          <input name='password' type="password" placeholder="Password" />
          <button>Login</button>
        </form>
      </div>
      <div class="form">
        <h2>Create an account</h2>
        <form method="POST" action="/user/createUser">
          <input class="validar" name='name' type="text" placeholder="Username" />
          <input class="validar" name='password' type="password" placeholder="Password" />
          <input class="validar" name='email' type="email" placeholder="Email Address" />
          <button class="btn-register">Register</button>
        </form>
      </div>
      <div class="cta"><a href="#">Forgot your password?</a></div>
    </div>
  </section>

  <%- include('includes/footer')%>